<div id="rising-stars">
    <div class="container-fluid">
        <div class="d-flex flex-column-reverse mx-3">
            <div class="row stage-1 mb-3">
                <div class="col-4 pvpaissa-branding">
                    <h4 class="display-4">Stage 1 - Elimination</h4>
                    <div class="text-rs-primary stage-sub-title text-uppercase">Best of 3</div>
                </div>
                <div class="col-8 stage-matches">
                    <div class="text-rs-primary stage-one-title text-uppercase">Match A</div>
                    <div id="rs-match-1" class="mb-2 d-flex justify-content-between stage-match active">
                        <div class="claws">
                            <span class="score font-weight-lighter">2</span> <span class="name">Primul Altz</span>
                        </div>
                        <div class="fangs">
                            <span class="name">Primul Altz</span> <span class="score font-weight-lighter">1</span>
                        </div>
                    </div>

                    <div class="text-rs-primary stage-one-title text-uppercase">Match B</div>
                    <div id="rs-match-2" class="mb-2 d-flex justify-content-between stage-match">
                        <div class="claws">
                            <span class="score font-weight-lighter">0</span> <span class="name">Succ</span>
                        </div>
                        <div class="fangs">
                            <span class="name">Bread</span> <span class="score font-weight-lighter">0</span>
                        </div>
                    </div>

                    <div class="text-rs-primary stage-one-title text-uppercase">Match C</div>
                    <div id="rs-match-3" class="mb-2 d-flex justify-content-between stage-match">
                        <div class="claws">
                            <span class="score font-weight-lighter">0</span> <span class="name">Succ</span>
                        </div>
                        <div class="fangs">
                            <span class="name">Succ</span> <span class="score font-weight-lighter">0</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row stage-2 mb-3">
                <div class="col-4">
                    <h4 class="display-4">Stage 2 - Group Stage</h4>
                    <div class="text-rs-primary stage-sub-title text-uppercase">Best of 3</div>

                    <div class="team-standings">
                        <div id="rr-1" class="d-flex justify-content-between">
                            <div class="team">Winner of A</div>
                            <div class="points">0</div>
                        </div>

                        <div id="rr-2" class="d-flex justify-content-between">
                            <div class="team">Winner of B</div>
                            <div class="points">0</div>
                        </div>

                        <div id="rr-3" class="d-flex justify-content-between">
                            <div class="team">Winner of C</div>
                            <div class="points">0</div>
                        </div>
                    </div>
                </div>
                <div class="col-8 stage-matches">
                    <div class="text-rs-primary stage-one-title text-uppercase">Match 1</div>
                    <div id="rs-match-4" class="d-flex justify-content-between stage-match">
                        <div class="claws">
                            <span class="score font-weight-lighter">2</span> <span class="name">A</span>
                        </div>
                        <div class="fangs">
                            <span class="name">B</span> <span class="score font-weight-lighter">1</span>
                        </div>
                    </div>

                    <div class="text-rs-primary stage-sub-title text-uppercase">Match 2</div>
                    <div id="rs-match-5" class="d-flex justify-content-between stage-match">
                        <div class="claws">
                            <span class="score font-weight-lighter">2</span> <span class="name">A</span>
                        </div>
                        <div class="fangs">
                            <span class="name">C</span> <span class="score font-weight-lighter">1</span>
                        </div>
                    </div>

                    <div class="text-rs-primary stage-sub-title text-uppercase">Match 3</div>
                    <div id="rs-match-6" class="d-flex justify-content-between stage-match">
                        <div class="claws">
                            <span class="score font-weight-lighter">2</span> <span class="name">B</span>
                        </div>
                        <div class="fangs">
                            <span class="name">C</span> <span class="score font-weight-lighter">1</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row stage-3 mb-3">
                <div class="col-4">
                    <h4 class="display-4">Stage 3 - Grand Finals</h4>
                    <div class="text-rs-primary stage-sub-title text-uppercase">Best of 5</div>
                </div>
                <div class="col-8 stage-matches">
                    <div class="text-rs-primary stage-sub-title text-uppercase">Grand Finals</div>
                    <div id="rs-match-7" class="mx-1 d-flex justify-content-between stage-match">
                        <div class="claws">
                            <span class="score font-weight-lighter">2</span> <span class="name">Looking for Scrimsz</span>
                        </div>
                        <div class="fangs">
                            <span class="name">Team Quick Chat</span> <span class="score font-weight-lighter">1</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-4 rst-logo">
                    <img class="img-fluid" src="/plugins/cleanse/broadcast/assets/images/rs-overlay-logo.png">
                </div>
                <div class="col-8 highlight-padding">
                    <h2 id="highlight-status" class="text-rs-primary stage-sub-title text-uppercase">Upcoming Match</h2>
                    <div id="highlight-match" class="d-flex justify-content-between my-2 display-4">
                        <div class="claws">
                            <span class="score font-weight-lighter">0</span> <span class="name">Claws</span>
                        </div>
                        <div class="fangs">
                            <span class="name">Fangs</span> <span class="score font-weight-lighter">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>